/* the props */
@import 'https://unpkg.com/open-props';

/* Root Styles */

:root {
	font-family: 'Inter', var(--font-sans);

	--transition-200ms: 200ms var(--ease-in-out-3);
}

body {
	background: var(--background);
	color: var(--text);
	display: grid;
	font-size: var(--font-size-fluid-0);
	font-weight: 400;
	align-content: start;
	justify-content: center;
}

section {
	scroll-margin-top: 2em;
}

.body-inner-container {
	padding: 2rem 2rem 1rem;
}

.flow > * + * {
	margin-block-start: var(--flow-space, 1em);
}

.flow > section > * {
	--flow-space: 3em;
}

.flow.flow:is(section) {
	--flow-space: 6em;
}

h1,
h2 {
	color: var(--header);
}

h1,
h2,
h3 {
	line-height: 1.1;
	text-wrap: balance;
}

h1 {
	font-size: var(--font-size-fluid-3);
}

h2 {
	font-size: var(--font-size-fluid-2);
}

h3 {
	color: var(--subheader);
	font-size: var(--font-size-fluid-1);
}

h4 {
	text-transform: uppercase;
}

a {
	color: var(--accent);
}

button {
	border: 2px solid red;
	border-radius: var(--radius-2);
	font-weight: var(--font-weight-6);
}

img {
	border-radius: var(--radius-2);
}

.btn-primary {
	background: var(--subheader);
	border-color: var(--subheader);
	color: var(--background);
}

.btn-secondary {
	background: var(--background);
	border-color: var(--subheader);
	color: var(--subheader);
}

/* Specific Styling */
.header {
	.nav {
		align-items: center;
		border-bottom: 1px solid var(--background-dark);
		display: flex;
		justify-content: space-between;
		padding-bottom: 2rem;

		> h1 > #logo {
			color: var(--darkest);
			text-decoration: none;
		}
		.navlist {
			align-items: flex-end;
			background-color: var(--background-medium);
			display: flex;
			flex-direction: column;
			gap: 2em;
			height: 100%;
			justify-content: right;
			list-style: none;
			padding-inline-start: 0;
			padding: 2rem 2rem 0;
			position: fixed;
			right: -100%;
			top: 8em;
			transition: right var(--transition-200ms);
			width: 100%;
			z-index: 9999;

			.navitem {
				.navlink {
					color: var(--subheader);
					font-size: var(--font-size-fluid-1);
					font-weight: var(--font-weight-6);
					text-decoration: none;
				}
			}
		}

		.navlist.active {
			right: 0;
		}

		#hamburger {
			border: none;
			display: block;
			display: flex;
			flex-flow: column wrap;
			gap: 0.35rem;
			padding: 0;
		}

		.bar {
			background-color: var(--darkest);
			display: block;
			height: 0.15rem;
			transition: all var(--transition-200ms);
			-webkit-transition: all var(--transition-200ms);
			width: 1.5rem;
		}

		#hamburger.active .bar:nth-child(2) {
			opacity: 0;
		}

		#hamburger.active .bar:nth-child(1) {
			transform: translateY(0.5rem) rotate(45deg);
		}

		#hamburger.active .bar:nth-child(3) {
			transform: translateY(-0.5rem) rotate(-45deg);
		}
	}

	#hero {
		--flow-space: 1em;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		height: 95svh;

		> h2 {
			opacity: 0;
			animation: var(--animation-fade-in) forwards;
			animation-timing-function: var(--ease-1);
			animation-delay: 0.3s;
		}

		> h3 {
			opacity: 0;
			animation: var(--animation-fade-in) forwards;
			animation-timing-function: var(--ease-2);
			animation-delay: 0.6s;
		}

		> .btn-container {
			animation-delay: 1s;
			animation-duration: 1.5s;
			animation-timing-function: var(--ease-1);
			animation: var(--animation-fade-in) forwards;
			display: flex;
			flex-flow: column wrap;
			gap: 1.5em;
			margin-block-start: 3em;
			opacity: 0;
			> a {
				text-decoration: none;
			}
		}
	}
}

.main {
	border-bottom: 1px solid var(--background-dark);
}

.project-title-container > a,
.blog-post-title-container > a {
	display: flex;
	align-items: center;
	gap: 0.5em;
	text-decoration: none;
	color: var(--darkest);
}

.projects {
	.all-projects-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2em;

		.project-container {
			--flow-space: initial;
			background: var(--background-medium);
			border: 2px solid var(--background-dark);
			border-radius: var(--radius-2);
			padding: 1em;
		}
	}

	.newsletter-cta > * {
		margin-top: 1em;
	}
}

.blog {
	.all-posts-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2em;

		.blog-post-container {
			--flow-space: initial;
			background: var(--background-medium);
			border: 2px solid var(--background-dark);
			border-radius: var(--radius-2);
			padding: 1em;
			overflow: hidden;

			> * > img {
				border-radius: var(--radius-1);
				object-fit: cover;
			}
		}
	}
}

.contact-cta {
	--flow-space: 2em;
	background: var(--background-medium);
	border: 1px solid var(--background-dark);
	border-radius: var(--radius-2);
	margin-inline: auto;
	margin-block: 6em;
	padding: 4em 2em;
	text-align: center;

	.btn-container {
		> button {
			background: var(--accent);
			border-color: var(--accent);
		}
	}
}

.footer {
	margin-block-start: 3em;
	.footer-inner-container {
		--flow-space: 2em;

		.social-links-container > ul,
		.sitemap-container > ul {
			display: flex;
			gap: 1.5em;
			list-style: none;
			padding-inline-start: 0;

			> li > a {
				color: var(--text);
				text-decoration: none;
				font-weight: var(--font-weight-6);

				> i {
					font-size: var(--font-size-fluid-2);
				}
			}
		}

		.social-links-container {
			> ul {
				margin-block-start: 1em;
			}
		}
	}
}

/*-----Light & Dark Themes-----*/
@media (prefers-color-scheme: light) {
	:root {
		--background: var(--gray-0);
		--background-medium: var(--gray-2);
		--background-dark: var(--gray-3);
		--darkest: var(--gray-10);
		--header: var(--gray-9);
		--subheader: var(--gray-8);
		--text: var(--gray-7);
		--accent: var(--teal-8);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--gray-10);
		--background-medium: var(--gray-9);
		--background-dark: var(--gray-7);
		--darkest: var(--gray-0);
		--header: var(--gray-0);
		--subheader: var(--gray-2);
		--text: var(--gray-4);
		--accent: var(--teal-4);
	}
}

@media only screen and (min-width: 1024px) {
	.btn-primary {
		transition: background var(--transition-200ms),
			border-color var(--transition-200ms);
		&:hover {
			background: var(--header);
			border-color: var(--header);
		}
	}

	.btn-secondary {
		transition: background var(--transition-200ms),
			border-color var(--transition-200ms), color var(--transition-200ms);

		&:hover {
			border-color: var(--darkest);
			color: var(--darkest);
		}
	}

	.body-inner-container {
		max-width: 1600px;
		margin-inline: auto;
	}

	.header {
		.nav {
			#hamburger {
				border: none;
				display: none;

				.bar {
					display: hidden;
				}
			}
			.navlist {
				background-color: inherit;
				flex-direction: row;
				height: auto;
				position: initial;
				right: 0;
				top: 0;
				z-index: initial;
				padding: 0;

				.navitem {
					.navlink {
						color: var(--text);
						font-size: var(--font-size-fluid-0);
						text-decoration: none;
						transition: color var(--transition-200ms);

						&:hover,
						&:focus {
							color: var(--accent);
						}
					}
				}
			}
		}

		#hero {
			.btn-container {
				flex-flow: row wrap;
			}
		}
	}

	.project-title-container > a,
	.blog-post-title-container > a {
		> i {
			transition: transform var(--transition-200ms);
		}

		&:hover {
			color: var(--accent);

			> i {
				transform: translateX(1em);
			}
		}
	}

	.projects {
		.all-projects-container {
			grid-template-columns: 1fr 1fr 1fr;

			.project-container {
				background: var(--background-medium);
				border: 2px solid var(--background-dark);
				border-radius: var(--radius-2);
				padding: 1em;
			}
		}
	}

	.blog {
		.all-posts-container {
			grid-template-columns: 1fr 1fr;

			@media only screen and (min-width: 1200px) {
				grid-template-columns: 1fr 1fr 1fr;
			}
			.blog-post-container {
				background: var(--background-medium);
				border: 2px solid var(--background-dark);
				border-radius: var(--radius-2);
				padding: 1em;
			}
		}
	}

	.contact-cta {
		max-width: 50%;

		.btn-container {
			> button {
				&:hover {
					border-color: var(--header);
				}
			}
		}
	}

	.footer {
		.footer-inner-container {
			--flow-space: 0;
			display: grid;
			grid-template-columns: 1fr 1fr;

			.social-links-container > ul,
			.sitemap-container > ul {
				display: flex;
				gap: 1.5em;
				list-style: none;
				padding-inline-start: 0;

				> li > a {
					color: var(--text);
					text-decoration: none;
					font-weight: var(--font-weight-6);
					transition: color var(--transition-200ms);
					&:hover {
						color: var(--accent);
					}

					> i {
						font-size: var(--font-size-fluid-2);
					}
				}
			}

			.social-links-container {
				> ul {
					margin-block-start: 1em;
				}
			}
		}
	}
}
