/* the props */
@import 'https://unpkg.com/open-props';

/* Root Styles */

:root {
	font-family: 'Inter', sans-serif;
	font-size: 16px;

	/* Step -1: 13.33px → 16.67px */
	--step--1: clamp(0.83rem, calc(0.8rem + 0.15vw), 1.04rem);
	/* Step 0: 16.00px → 20.00px */
	--step-0: clamp(1rem, calc(0.96rem + 0.18vw), 1.25rem);

	/* Step 1: 19.20px → 25.00px */
	--step-1: clamp(1.2rem, calc(1.15rem + 0.26vw), 1.56rem);

	/* Step 2: 27.65px → 39.06px */
	--step-2: clamp(1.73rem, calc(1.63rem + 0.51vw), 2.44rem);

	/* Step 3: 33.18px → 48.83px */
	--step-3: clamp(2.07rem, calc(1.93rem + 0.7vw), 3.05rem);

	/* Step 4: 39.81px → 61.04px */
	--step-4: clamp(2.49rem, calc(2.3rem + 0.95vw), 3.82rem);

	--background: var(--gray-0);
	--background-dark: var(--gray-3);
	--darkest: var(--gray-10);
	--header: var(--gray-9);
	--subheader: var(--gray-8);
	--text: var(--gray-6);
	--accent: var(--teal-6);
}

body {
	background: var(--background);
}

.body-inner-container {
	padding: 0 2rem;
}

h1,
h2 {
	color: var(--header);
	font-weight: 600;
}

h3 {
	color: var(--subheader);
	font-weight: 400;
}

h4 {
	color: var(--darkest);
	font-weight: 500;
	text-transform: uppercase;
}

p {
	color: var(--text);
	font-weight: 400;
}

a {
	color: var(--accent);
}

button {
	border: 2px solid red;
	border-radius: 0.25rem;
	font-weight: 600;
}

.btn-primary {
	background: var(--subheader);
	border-color: var(--subheader);
	color: var(--background);
	transition: background 200ms ease-in-out, border-color 200ms ease-in-out;

	@media (hover: hover) {
		&:hover {
			background: var(--header);
			border-color: var(--header);
		}
	}
}

.btn-secondary {
	background: var(--background);
	border-color: var(--subheader);
	color: var(--subheader);
	transition: background 200ms ease-in-out, border-color 200ms ease-in-out,
		color 200ms ease-in-out;

	&:hover {
		border-color: var(--darkest);
		color: var(--darkest);
	}
}

.stack > * + * {
	margin-block-start: 1.5rem;

	&:last-child {
		margin-bottom: 10rem;
	}
}

.stack-sm > * + * {
	margin-block-start: 1.5rem;

	&:last-child {
		margin-bottom: 3rem;
	}
}

/* Specific Styling */

.nav {
	align-items: center;
	border-bottom: 1px solid var(--background-dark);
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;

	> h1 > #logo {
		align-items: center;
		color: var(--darkest);
		font-size: 2.5rem;
		text-decoration: none;
	}

	.navlist {
		align-items: center;
		display: flex;
		gap: 2rem;
		list-style: none;
		justify-content: flex-end;
		padding-inline-start: 0;

		.navitem {
			.navlink {
				color: var(--text);
				font-weight: 600;
				text-decoration: none;
				transition: color 200ms ease-in-out;

				&:hover {
					color: var(--accent);
				}
			}
		}
	}

	#hamburger {
		border: none;
		display: none;
		padding: 0;

		.bar {
			display: hidden;
		}
	}
}

.header,
.main {
	margin-top: 3rem;
	margin-bottom: 1.5rem;
}

.header {
	.btn-container {
		display: flex;
		flex-flow: column wrap;
		gap: 1rem;
	}
}

.main
	> .projects
	> .all-projects-container
	> .project-container
	> .project-title-container
	> a,
.main
	> .blog
	> .all-posts-container
	> .blog-post-container
	.blog-post-title-container
	> a {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none;
	color: var(--darkest);

	> h4 {
		transition: padding-right 200ms ease-in-out;
	}

	&:hover {
		color: var(--accent);
		> h4 {
			color: var(--accent);
			padding-right: 1rem;
		}
	}
}

.newsletter-cta {
	margin-top: 3rem;
	> h3 {
		font-weight: 600;
	}

	> .input-container {
		margin-top: 1.5rem;
	}
}

.contact-cta {
	align-items: center;
	background: var(--background-dark);
	border: 1px solid var(--text);
	border-radius: 0.25rem;
	display: flex;
	flex-flow: column wrap;
	gap: 1rem;
	padding: 4rem 2rem;

	> h3 {
		font-weight: 700;
	}
}

.footer {
	background: var(--darkest);
	color: var(--text);
	margin-top: 3rem;
	padding: 3rem 1rem 1rem;

	> * h4 {
		color: var(--text);
	}

	.social-links-container {
		> ul {
			display: flex;
			flex-flow: row wrap;
			gap: 1.5rem;
			> li {
				list-style: none;

				> a {
					color: var(--background);
					> i {
						font-size: var(--step-3);
					}
				}
			}
		}
	}

	.newsletter-container {
		> h4,
		p {
			color: var(--text);
		}
	}

	.sitemap-container {
		> ul {
			display: flex;
			flex-flow: row wrap;
			gap: 1.5rem;
			> li {
				list-style: none;
				> a {
					color: var(--background);
					text-decoration: none;
				}
			}
		}
	}

	.copyright-container {
		color: var(--text);
		> small > a {
			color: var(--text);
		}
	}
}

/*-----Mobile Nav Styling-----*/
@media only screen and (max-width: 1023px) {
	.nav {
		.navlist {
			align-items: flex-end;
			background-color: var(--darkest);
			flex-direction: column;
			height: 100%;
			justify-content: right;
			right: -100%;
			padding: 4rem 2rem;
			position: fixed;
			top: 6rem;
			transition: right 0.2s ease-in-out;
			width: 100%;
			z-index: 9999;

			.navitem {
				.navlink {
					color: var(--background);
				}
			}
		}

		.navlist.active {
			right: 0;
		}

		#hamburger {
			display: block;
			display: flex;
			flex-flow: column wrap;
			gap: 0.35rem;
		}

		.bar {
			background-color: var(--darkest);
			display: block;
			height: 0.15rem;
			/* margin: 5px auto; */
			transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			width: 1.5rem;
		}

		#hamburger.active .bar:nth-child(2) {
			opacity: 0;
		}

		#hamburger.active .bar:nth-child(1) {
			transform: translateY(0.5rem) rotate(45deg);
		}

		#hamburger.active .bar:nth-child(3) {
			transform: translateY(-0.5rem) rotate(-45deg);
		}
	}
}

@media only screen and (min-width: 1024px) {
	.body-inner-container {
		max-width: 1600px;
		margin: 0 auto;
	}

	.header {
		display: flex;
		flex-flow: column wrap;
		height: 40vh;
		justify-content: center;
		> .btn-container {
			flex-direction: row;
		}
	}

	.all-projects-container,
	.all-posts-container {
		column-gap: 3rem;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		row-gap: 3rem;
	}

	.blog {
		> .btn-container {
			margin-top: 0;
		}
	}

	.contact-cta {
		max-width: 50%;
		margin: 0 auto;
	}

	.footer {
		.footer-inner-container {
			align-items: center;
			display: flex;
			flex-flow: row wrap;
			gap: 3rem;
			justify-content: space-between;
			max-width: 1600px;
			margin: 0 auto;

			> div {
				flex-basis: 50%;
			}
		}

		.social-links-container {
			> ul {
				> li {
					> a {
						&:hover {
							color: var(--accent);
						}
					}
				}
			}
		}

		.sitemap-container {
			> ul {
				flex-direction: row;
				> li {
					> a {
						&:hover {
							color: var(--accent);
						}
					}
				}
			}
		}
	}
}
